*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: aoboshi;
    src: url('../fonts/AoboshiOne-Regular.ttf');
}
body{
    background: rgb(34,34,34);
    background: linear-gradient(90deg, rgba(34,34,34,1) 25%, rgba(0,0,0,1) 98%);

}
h1.main-title{
    font-family:aoboshi ;
    text-transform:uppercase;
    color:white;
    font-size: clamp(24px,1.4rem + 1vw,36px);
    padding:min(1rem , 0.6rem + 1vw)
}
#content.content{
    margin: 0 auto;
    
    width:100%;
    
    min-height: 250px;
    min-width: 250px;
    
    background-color: white;
    display: grid;
    grid-template-columns:1fr 5fr ;
    
    
}
.main{
    margin: 0 auto;
}

.sidebar{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: aoboshi;
    gap:5px;
    padding-left:1rem;
    padding-right:15px;
    background-color: #d3d3d3;
    
    
}
.sidebar-item{
    display: flex;
    align-items: center;
    

}
.item-name{
    flex:1;
}
.delete{
    width:20px;
}

button.add{
    font-family: aoboshi;
     background-color: #d3d3d3;
    border: none;
    width:50%;
    margin:0 auto;
    
}

.confirm-new-project{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}
.confirm-new-project .input-project-name{
    grid-column: 1/-1;
}

button{
    border:none;
    font-family: aoboshi;
}

.confirm{
    color:green;
}
.cancel{
    color:red;
}