*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: aoboshi;
    src: url('../fonts/AoboshiOne-Regular.ttf');
}
body{
    background: rgb(34,34,34);
    background: linear-gradient(90deg, rgba(34,34,34,1) 25%, rgba(0,0,0,1) 98%);

}
h1.main-title{
    font-family:aoboshi ;
    text-transform:uppercase;
    color:white;
    font-size: clamp(24px,1.4rem + 1vw,36px);
    padding:min(1rem , 0.6rem + 1vw)
}
#content.content{
    margin: 0 auto;
    
    width:100%;
    
    min-height: 250px;
    min-width: 250px;
    
    background-color: white;
    display: grid;
    grid-template-columns:1fr 5fr ;
    
    
}
.main{
    margin: 0 auto;
}
.title{
    font-family: aoboshi;
}
.sidebar{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: aoboshi;
    gap:5px;
    padding-left:1rem;
    padding-right:15px;
    background-color: #d3d3d3;
    
    
}
.sidebar-item{
    display: flex;
    align-items: center;
    


}
.input-item{
    display: flex;
    flex-flow:column nowrap;
}
.input-item > input{
    height: 1.6rem;
    border:none;
    border-bottom: 1px solid grey;
    font-size: 1.3rem;
}
.input-item > label{
    font-size: min(1.3rem , 12px + 1vw);
    font-family: aoboshi;
}
.item-name:hover , .delete:hover{
    transform: scale(1.1);
}
.item-name{
    flex:1;
}
.delete , .more-info , .edit{
    width:30px;
}
.more-info:hover , .edit:hover{
    transform: scale(1.1);
}

button.add{
    font-family: aoboshi;
     background-color: #d3d3d3;
    border: none;
    width:50%;
    margin:0 auto;
    
}
button.add:hover{
    transform: scale(1.1);
}
.confirm-new-project{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}
.confirm-new-project .input-project-name{
    grid-column: 1/-1;
}

button{
    border:none;
    font-family: aoboshi;
    background-color: #d3d3d3;
}

.confirm{
    color:green;
}
.cancel{
    color:red;
}
.project{
    font-family: aoboshi;
}

.main{
    width: 100%;
    padding:1rem
}

.add-to-do-popup,.info-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1;
    width:40%;
    height: 50%;
    padding:15px;
    display: flex;
    flex-direction: column;
    gap:10px;
    position: relative;
}

.close-box{
    position: absolute;
    width:25px;
    top:10px;
    right:10px;
}
.cover{
    width:100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);

}
.visible{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}

textarea{
    resize:none;
    height: 10ch;
    border:none;
    font-size: 1rem;
    border-bottom: 1px solid grey;

}

.add-to-do{
    background-color: white;

}
.todo-item{
    display: flex;

}
.todo-item > *:hover{
    transform:scale(1.1)
}
.todo-item :nth-child(2){
    margin-left: auto;
}

.finished{
    text-decoration: line-through 2px;
}
.finished-div{
    opacity: 0.5;
}

.edit-btn.btn{
color:#8B8000;
background-color: white;
}

.info-popup{
    display: flex;
}
.info-item [class^=key]{
    font-size: 1.3rem;
    font-family: aoboshi;
}
.info-item [class^=value]{
    font-size: 1.2rem;
    font-family: aoboshi;
}
.high{
    border-left:1px red solid
}
.medium{
    border-left: #8B8000 1px solid;
}
.low{
    border-left: darkgreen 1px solid;
}